/* Universal styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Page body format */
body {
    background-color: #d9dcd6;
}

/* Banner formatting */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Page banner text */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changes color of part of banner text */
h1 .seo {
    color: #d9dcd6;
}

/* Navigation links section */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Nav links list */
nav ul {
    list-style-type: none;
}

/* Nav links list items */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Hyperlink style */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Standard paragraph style */
p {
    font-size: 16px;
}

/* Cover image located directly below the header */
.cover-img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* Contains strategies section; located under cover image and to the left */
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Strategies box styling */
.strategies {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Strategies headings */
.strategies h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Strategies images */
.strategies img {
    max-height: 200px;
}

/* Styling for strategies with img on left */
.left-img {
    float: left;
    margin-right: 25px;
}

/* Styling for strategies with img on right */
.right-img {
    float: right;
    margin-left: 25px;
}

/* Styling for benefits box;
located on the right side, bottom half of page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* Each section in the benefits box; starts with the heading and ends with the blurb */
.benefits div {
    margin-bottom: 32px;
}

/* Benefits section title */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Benefits section image */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer text */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer heading text */
footer h2 {
    font-size: 20px;
}
